.popup {
 display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px; /* espaço para não grudar nas bordas da viewport */
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened{
display:flex;
}

.overlay {
  position: fixed;
}

.popup__title {
  color: rgb(0, 0, 0);
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-weight: 900;
  line-height: 29.05px;
  padding-top: 34px;
  padding-left: 36px;
}
.popup__form-container {
  width: 430px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  position: relative;

   position: relative;
  box-sizing: border-box;
}

.popop__form-img{
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-description {
  position: absolute;
  bottom: -40px;
  left: 0;
 
  color: #fff;
  padding: 8px;
  font-size: 12px;
}

.popup__image {
 width: 100%;
  object-fit: cover;
}

.popup__close-btn {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: auto;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.popup__form {
  padding-left: 36px;
  padding-bottom: 36px;
}

.popup__text {
  color: black;
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgb(176, 172, 172);
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 29.74px;
}

 .popup__button {
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  margin-top: 48px;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
    min-width: 320px;
    margin: 0;
  }

  .places__item {
    margin: 0;
  }
}
